@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .center{
    position: relative;
  }

  .center p {
    color: red;
    margin: 0;
    padding-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .text{
    color: #538cc6;
  }

 #type[type="date"]::before{
    padding-right: 10px;
    content: attr(placeholder) ":";
 }
 #type[type="date"]:focus::before {
    content: attr(placeholder) ":"!important;
 }

 .circles {
  width: 111px;
  height: 111px;
  position: relative;
  perspective: 50000px;
  color: #61DAFB;
}
.circles span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 18.4%;
  height: 18.4%;
  border-radius: 100%;
  background: currentColor;
}
.circles div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 13.32px solid;
  border-right: 5.1230769231px solid;
  border-top: 13.32px solid transparent;
  border-radius: 100%;
}
.circles div:nth-child(1) {
  animation: anim-1 1s linear infinite;
}
.circles div:nth-child(2) {
  animation: anim-2 1s linear infinite;
}
.circles div:nth-child(3) {
  animation: anim-3 1s linear infinite;
}

@keyframes anim-1 {
  from {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}
@keyframes anim-2 {
  from {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}
@keyframes anim-3 {
  from {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}



